#unsorted:before {
    content: url(./unsortedBookmarks.png);
    vertical-align: sub;
}
#toolbar:before {
    content: url(./bookmarksToolbar.png);
    vertical-align: sub;
}
#menu:before {
    content: url(./bookmarksMenu.png);
    vertical-align: sub;
}
.level0 {
    padding-left:  5px;
}
.level1 {
    padding-left: 35px;
}
.level2 {
    padding-left: 45px;
}
.level3 {
    padding-left: 55px;
}
.level4 {
    padding-left: 65px;
}
