* {
    box-sizing: border-box;
    margin: 0;
    text-align: center;
}

body, html {
    background-color: black;
    height: 100%;
    overflow-y: auto;
    width: 100%;
}

ol {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

li {
    display: block;
    float: left;
    max-width: 600px;
}

a {
    border-radius: 10px;
    border: 1px solid black;
    display: block;
    overflow: hidden;
    position: absolute;
    text-decoration: none;
    bottom: 6%;
    left: 4%;
    position: absolute;
    right: 4%;
    top: 6%;
}

a:focus,
a:hover {
    border-color: #4cb1ff;
    box-shadow: 0 0 10px 5px #4cb1ff;
    outline: none;
}

a.busy {
    background-image: url("busy.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

a.busy img {
    display: none;
}

a.busy span {
    background-color: unset;
    color: white;
}

span {
    background-color: lightgrey;
    bottom: 0;
    color: black;
    display: block;
    font-family: sans-serif;
    height: 15%;
    left: 0;
    line-height: -moz-block-height;
    overflow: hidden;
    padding: 0 1%;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

img {
    height: 100%;
    width: 100%;
}

.flexbox {
    align-content: center;
    align-items: center;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

/* width set dynamically, height comes from before element (padding is based on width) */
.keepAspectRatio {
    position: relative;
}
.keepAspectRatio:before {
    content: "";
    display: block;
    padding-top: calc(100% / 3 * 2);
}
