* {
    box-sizing: border-box;
}
body {
    height: 380px;
    margin: 0;
    overflow: auto;
    padding: 10px;
    text-align: center;
    width: 400px;
}
h1 {
    font-size: 14px;
}
textarea {
    resize: none;
}
label {
    float: left;
    padding-right: 1%;
    text-align: right;
    width: 25%;
    height: 24px;
    line-height: 24px;
}
input {
    height: 24px;
}
input[type=submit] {
    margin-top: 15px;
}
select {
    width: 75%;
}
.inputElement {
    border-radius: 3px;
    border: 1px solid #B3B3B3;
    clear: both;
    width: 75%;
}
.wrapper {
    clear: both;
    height: 30px;
    padding: 3px;
}
.wrapper.description, .wrapper.folder {
    height: auto;
}
