* {
    box-sizing: border-box;
    margin: 0;
    text-align: center;
}

body, html {
    height: 100%;
    overflow-y: auto;
    width: 100%;
}

body {
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
}

ol {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

li {
    display: block;
    float: left;
}

a {
    border-radius: 10px;
    border: 1px solid black;
    display: block;
    overflow: hidden;
    position: absolute;
    text-decoration: none;
    bottom: 6%;
    left: 4%;
    position: absolute;
    right: 4%;
    top: 6%;
}

a:focus,
a:hover {
    border-color: #4cb1ff;
    box-shadow: 0 0 10px 5px #4cb1ff;
    outline: none;
}

div {
    color: black;
    height: 15%;
}

span {
    font-family: sans-serif;
    overflow: hidden;
    padding: 1px 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

img {
    height: 100%;
    width: 100%;
}
img[src=""] {
    display: none;
}

.absoluteBottomBlur {
    backdrop-filter: blur(2px);
    background: transparent linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.01) 0%,
        rgba(255, 255, 255, 0.4) 10%,
        rgba(255, 255, 255, 0.58) 100%
    );
}

.absoluteBottom {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
}

.delete {
    bottom: 6%;
    color: darkred;
    cursor: default;
    display: none;
    font-size: 20px;
    position: absolute;
    right: 4%;
}
.delete:hover {
    color: red;
}
li:hover .delete {
    display: block;
}

/* width set dynamically, height comes from before element (padding is based on width) */
.keepAspectRatio {
    position: relative;
}
.keepAspectRatio:before {
    content: "";
    display: block;
    padding-top: calc(100% / 3 * 2);
}
